*
.sas {
    font-family: 'Lexend Mega', sans-serif; 
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.redes-sociais ul li {
    margin-left: 15px;
    display: inline-flex;
    list-style: none;
}
.redes-sociais {
    text-align: center;
}
.texto{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 16px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-right: 4px;
}
.zen {
    float: right;
    margin-right: 10px;
}